name: Build WASM

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.56

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build WASM (ESM)
        run: npm run build-wasm:esm

      - name: Build TypeScript (ESM)
        run: |
          npx tsc -m ES6 --outDir ./dist/esm
          cp -r src/*.d.ts dist/

      - name: Build WASM (CJS)
        run: npm run build-wasm:cjs

      - name: Build TypeScript (CJS)
        run: npx tsc -m commonjs --outDir ./dist/cjs

      - name: Run tests
        run: npm run test

      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: wasm-webp-dist
          path: dist/
          retention-days: 90
